@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

h1 {
    font-size: 70px;
    font-weight: 800;
    width: 100vw;
    text-align: center;
    position: relative;
    top: 7vh;
}

#text-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#text-container #text {
    position: relative;
    top: 10vh;
    width: 80%;
}

.emphasis {
    font-weight: 700;
    font-size: 35px;
}

.emphasis.default {
    font-weight: unset;
}

.group-A {
    color: maroon;
}

.group-B {
    color: crimson;
}

.group-C {
    color: darkorange;
}
.group-D {
    color: gold;
}

.group-E {
    color: forestgreen;
}

.group-F {
    color: darkolivegreen;
}

.group-G {
    color: dodgerblue;
}

.group-H {
    color: midnightblue;
}

.group-I {
    color: mediumpurple;
}

.group-J {
    color: lightpink;
}

.group-K {
    color: brown;
}

.group-L {
    color: darkgray;
}

.group-M {
    color: palegreen;
}

.group-N {
    color: turquoise;
}

.group-O {
    color: tomato;
}
